<div class="page-container">

  <!-- Code your component here -->
  <div class="login-card">
    <div class="side-banner">
      <img src="/images/shoe.png" alt="">
      <p>2018 &copy; coolpeople</p>
    </div>
    <div class="login-content">
      <p id="signin">Existing user? Click here to <a href="/login">log in</a></p>
      <h2>Create an account</h2>

      <form class="create-account-form" action="/player_lists" method="post">
        <input type="text" name="email" placeholder="c.ronaldo@juventus.fc">
        <input type="text" name="first_name" placeholder="Christiano">
        <input type="text" name="last_name" placeholder="Ronaldo">
        <input type="password" name="password" placeholder="password...">

        <p>By clicking "continue" I agree to the fifappy <a href="">terms & conditions</a></p>
        <input type="submit" value="Continue" class="btn btn-submit">
      </form>

      <div class="social">
        <a href="#" class="btn btn-social"><i class="fab fa-fw fa-facebook-f"></i>Facebook</a>
        <a href="#" class="btn btn-social"><i class="fab fa-fw fa-github"></i>Github</a>

      </div>

    </div>
  </div>
</div>
