<h2>Create Player List</h2>

<p>Scrape service belongs here.</p>

<div>
  <h4>To do:</h4>
  <ol>
    <li>Get the details for the player list - name & avatar</li>
    <li>Confirm & create the player list</li>
    <li>Add it to db</li>
    <li>Once created, ask if the user wants to add any player to the list</li>
    <li>Add player menu until the user navigates back to the player lists index page</li>

  </ol>
</div>
