

<div class="login">
  <h3>login</h3>
  <div class="login-form">
    <form action="/user/:id" method="post">
      <fieldset>
        <input type="text" name="email" placeholder="email login" class="text-field">
      </fieldset>
      <fieldset>
        <input type="text" name="password" placeholder="password" class="text-field">
      </fieldset>
      <input type="submit" value="Login" class="form-btn-submit">
    </form>
  </div>
</div>
