<div class="login-container">

  <!-- Code your component here -->
  <div class="login-card">
    <div class="side-banner">
      <img src="/images/shoe.png" alt="">
      <p>2018 &copy; coolpeople</p>
    </div>
    <div class="login-content">
      <p id="signin">Existing user? Click here to <a href="/signup">create an account</a></p>
      <h2>Login</h2>

      <form class="login-form" action="/player_lists" method="post">
        <input type="text" name="email" placeholder="c.ronaldo@juventus.fc">
        <input type="password" name="password" placeholder="password...">

        <input type="submit" value="Continue" class="btn btn-submit">
      </form>

      <div class="social">
        <a href="#" class="btn btn-social"><i class="fab fa-fw fa-facebook-f"></i>Facebook</a>
        <a href="#" class="btn btn-social"><i class="fab fa-fw fa-github"></i>Github</a>

      </div>

    </div>
  </div>
</div>
