<div class="nav">
  <a href="/login">logout</a>
</div>

<div class="container">
  <div class="player_lists_container">
    <% if @user.player_lists.empty? %>
      <p>You don't have any player lists! <a href="/create_player_list">Create one?</a></p>
    <% else %>
      <div>
        <a href="/create_player_list" class="create_list_content">
          <div class="add-button">
            <i class="fas fa-plus"></i>
<!--             <span class="add_text">create a list</span> -->
          </div>
        </a>
      </div>

      <h2><%= @user.first_name %>'s player lists</h2>

        <% @user.player_lists.each do |player_list| %>
          <a href="/player_list/<%= player_list.id %>" class="">
            <div class="player_list_item">
              <div class="list_icon">

              </div>
              <div class="list_name">
                <%= player_list.name %>

              </div>
              <div class="num_players">

              </div>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
